.wrapper{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #E5E5EA;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.groupName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;

}

.options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;

}