.chatForm {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: inherit;
  height: 60px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.chatForm:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatForm:focus-within {
  background-color: #e0e0e0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 24px;
  color: #888;
  margin: 0 10px;
  cursor: pointer;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  background-color: #f0f0f0;
}

.sendButton, .uploadButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #888;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.sendButton:disabled {
  cursor: not-allowed;
  color: #ccc;
}

.sendButton:hover:not(:disabled), .uploadButton:hover {
  color: #007aff;
}

.imagePreviewContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.imagePreview {
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
}

.removeImageIcon {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .chatForm {
    height: 50px;
  }

  .icon {
    font-size: 20px;
    margin: 0 8px;
  }

  .input {
    padding: 8px;
    font-size: 14px;
  }

  .sendButton, .uploadButton {
    font-size: 20px;
    margin: 0 8px;
  }

  .imagePreview {
    max-width: 30px;
    max-height: 30px;
  }
}

.messageImage {
  max-width: 20%;
  max-height: 100px;
  margin-top: 5px;
  border-radius: 5px;
}
