.chatForm {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  height: 50px;
  box-sizing: border-box;
}

.icon {
  font-size: 20px;
  color: #888;
  margin: 0 10px;
  cursor: pointer;
}

.input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #f2f2f7;
}

.input:focus {
  outline: none;
}

.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
