.message {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 90%;
  position: relative;
  flex: 1;
}

.mine {
  justify-content: flex-end;
}

.their {
  justify-content: flex-start;
}

.text {
  padding: 0.7rem;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  max-width: 100%; 
}

.mineText {
  background-color: #007bff;
  color: white;
}

.theirText {
  background-color: #F2F2F7;
  color: #2C2C2E; 
}

.theirText .timestamp {
  color: #666668; 
}

.mineText::after, .theirText::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.mineText::after {
  border-width: 0px 0px 21px 32px;
  border-color: transparent transparent transparent #007bff;
  top: 0px;
  right: -15px;
}

.theirText::after {
  border-width: 0px 25px 18px 4px;
  border-color: transparent #F2F2F7 transparent transparent;
  top: 0;
  left: -16px;
}

.messageContent {
  margin: 0;
  word-break: break-word; 
  white-space: pre-wrap; 
}

.mesageInfo {
  display: flex;
  max-width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem;
}

.timestamp {
  font-size: 0.8em;
  color: #d0e0ff;
  white-space: nowrap;
}

.icon {
  font-size: 0.8rem;
  color: #00ff00;
  margin-bottom: 3px;
}
